html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header-bar > h2 {
    color: #5f6368;
    display: flex;
    align-items: center;
    font-family: 'Google Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 16px;
    padding-left: 8px;
    position: relative;
    top: -1.5px;
    vertical-align: middle;
}

.header-bar > h2 > img {
    margin-top: 2px;
    margin-right: 8px;
}

.app-container {
    display: flex;
    height: 100%;
    width: 100%
}

.ui-modules-wrapper {
    flex: 1;
    width: 60%;
    position: relative;
    top: 0px;
    border-left: 1px solid #dadce0;
}

.ui-modules-container {
  flex: 1;
  height: 100%;
  width: 100%;
}

.transcript-container {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
}

.header-bar::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    height: 0px;
    border-bottom: 1px solid #dadce0;
}

.authenticate-message {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #333;
}

/*Change the value according to preference 576px, 768px */
@media (max-width: 576px) {
  .app-container {
    flex-direction: column;
    height: 100%;
  }

  .app-container .ui-modules-wrapper {
    width: 100%;
    height: 60%;
    border-right: none;
    border-bottom: 1px solid #dadce0;
    top: 0;
    position: relative;
  }

  .app-container .ui-modules-container {
    height: calc(100% - 1px);
  }

  .app-container .transcript-container {
    height: 40%;
    border-left: none;
    border-top: 1px solid #dadce0;

  }
  .transcript-container {
    border-left: none;
    border-top: 1px solid #dadce0;
    padding-left: 0;
  }
}